.defaultWrap {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.row {
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: center;
}

.checkboxes {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formFocused {
    min-width: 90%;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}



.defaultWrap  input:not([type="checkbox"]){
height: 2.5em !important;
}