.defaultWrap {
    font-size: inherit;
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    width: 10em;
}

input {
    outline: none !important; 
    border: 3px solid var(--orange) !important;
    background-color: #FFFFFF !important;
    border-radius: 5px !important;
    height: 2em !important;
    /* font-size: inherit; */
}

input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 2em;
}

input[type=checkbox]:checked {
    background-color: var(--orange) !important;
    border: 3px solid var(--dark-white) !important;
}

label p {
        font-size: calc(var(--header) - 6px);
        font-weight: 700;
}

.block {
    width: 100%;
}

.inline {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 1em 0em;
}

.inline label {
    margin: 0.1em 0 0 1em;
}

