.defaultWrap {
    font-size: var(--header);
    width: 20em;
    height: 5em;
    padding: 1.5em 3em;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
}

.content p {
    color: var(--subHeader-color);
    font-size: var(--header);
    font-style: italic !important;
}

.author {
    position: absolute;
    background-color: var(--purple);
    padding:  1.5em;
    border-radius: 5px;
    bottom: -40px;
    right: -30px;
}

.author p {
    font-size: calc(var(--header) - 4px);
    font-weight: 900;
    color: #FFFFFF;
}


/* left-right author */
.left {
    left: -30px !important;
    right: auto !important;
}


/* mediaQueries */
@media only screen and (max-device-width: 1030px) {
    .defaultWrap {
        font-size: 14px;
        padding: .2em 1em;
    }
}

@media only screen and (max-device-width: 724px) {
    .defaultWrap {
        margin: 3em 0;
        padding: 1.5em 2em 0 2em;
        width: auto;
    }

    .defaultWrap .content p, .author p {
        font-size: 14px;
    }
}
   

