.xSmall p {
    font-size: var(--snippet) !important;
}

.small p {
    font-size: var(--sub-header) !important;
}

.medium p {
    font-size: var(--header);
}

.large p {
    font-size: var(--title);
}

.xLarge p {
    font-size: var(--page-title);
}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

.grey {
    color: var(--subHeader-color) !important;
}

.bold p {
    font-weight: 900 !important;
}

@media only screen  and (min-width : 1400px) {
    .xSmall p {
        font-size: 18px !important;
    }
    
    .small p {
        font-size: 20px !important;
    }
    
    .medium p {
        font-size: var(--header);
    }
    
    .large p {
        font-size: 60px;
    }
    
    .xLarge p {
        font-size: var(--page-title);
    }
}


@media only screen and (max-device-width: 724px) {
    .xSmall p {
        font-size: 10px !important;
    }
    
    .small p {
        font-size: 10px !important;
    }
    
    .medium p {
        font-size: var(--header);
    }
    
    .large p {
        font-size: 28px;
    }
    
    .xLarge p {
        font-size: var(--page-title);
    }
}