.defaultWrap {
    /* height: 100vh; */
    /* min-width: 100vh !important; */
    font-size: 18px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.shadowOverlay {
    background-color: var(--shadow);
    height: 20%;
}

.modalContent {
    height: 80%;
    width: 100%;
    background-color: var(--dark-white);
    display: flex;
    flex-direction: column;

    
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1.5em 2em;
    box-shadow: 0px 4px 4px 1px #6d656578;
    background: white;
    text-align: center;
    height: auto;
}

.headerText p {
    font-size: var(--title);
    font-weight: 600 !important;
}


.contentMain {
    overflow: scroll;
    padding: 2em;
    margin: 1em;
}

/* hide scrollbar */
.contentMain::-webkit-scrollbar {
    display: none;
}
  
.contentMain{
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}


@media only screen and (max-device-width: 724px) {
    .defaultWrap .modalContent {
       height: 100% !important
    }

    .defaultWrap .shadowOverlay {
        display: none;
    }

    .defaultWrap .contentMain {
        margin: 1em 1em 1em 1em;
        padding: 0 !important;
    }

    .defaultWrap .headerText {
        margin-bottom: .5em;
    }

    .defaultWrap .headerText p {
        font-size: 16px;
    }

    .defaultWrap .modalHeader {
        flex-direction: column;
        height: auto;
        padding-bottom: 2em;
    }

    .defaultWrap .modalHeader div:nth-child(2) {
        padding: 0 0 1em 0;
    }

    .defaultWrap .contentMain > div  {
        justify-content: unset !important;
    }
  }
  /* // */