.defaultWrap {
    height: 100vh;
    min-width: 100vh !important;
    font-size: 18px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.shadowOverlay {
    background-color: var(--shadow);
    height: 20%;
}

.modalContent {
    height: 80%;
    width: 100%;
    background-color: var(--dark-white);
    display: flex;
    flex-direction: column;
    overflow: scroll;

    
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1.5em 4em;
}

.headerText p {
    font-size: var(--title);
    font-weight: 600 !important;
}


.contentMain {
    margin: 2em 2em;
}


