.defaultWrap {
    position: fixed;
    font-size: var(--header);
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 2.5em;
    /* background-color: var(--orange); */
    z-index: 99;
    transition: width .15s ease-out;
    
}

.navToggle {
    position: absolute;
    top: .2em;
    left: -1em;
    right: auto;
    padding: 1.25em;
    background-color: var(--dark-white);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer;
}

/* EXPANDED */
.expandedWrap {
    width: 15em;
    box-shadow: -5px 0px 14px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--orange);
}

.expandedWrapReport {
    width: 60%;
    box-shadow: -5px 0px 14px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--orange);
}

.expandedWrapQoute {
    width: 90%;
    box-shadow: -5px 0px 14px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--orange);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    animation: fadeIn .35s;
}

/* .ctaButtons div:nth-child(1) {
    margin-bottom: .5em;
} */

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.seperatorCircle {
    background-color: #FFFFFF;
    padding: .25em;
    border-radius: 50%;
}

/* OPTION CARD */

.optionCard {
    color: #FFFFFF;
    font-size: var(--header);
    padding: 1.5em;
    width: 40%;
    margin: 0 auto; 
    cursor: pointer;
}

.optionCard p {
    font-weight: 500 !important;
    text-align: center;
    font-size: calc(var(--header) - 5px);
    line-height: 1;
}

.optionCard.focused {
    background-color: #FFFFFF;
    color: var(--orange) !important;
    border-radius: 5px;
}

.contactInfo p {
    color: #FFFFFF;
    font-size: calc(var(--header));
    font-weight: 700 !important;

}

.breadcrumbs {
    height: auto;
}

.qoute {
    margin-bottom: 10px;
}

/* nav animation */

@keyframes fadeIn {
    0% { opacity: 0;}
    10%{ opacity: 0.1}
    20%{ opacity: 0.2}
    30%{ opacity: 0.3}
    40%{ opacity: 0.4}
    50%{ opacity: 0.5}
    60%{ opacity: 0.6}
    70%{ opacity: 0.7}
    80%{ opacity: 0.8}
    90%{ opacity: 0.9}
    100%{ opacity: 1;}
}


@media only screen and (max-device-width: 1030px) {
    .optionCard {
        font-size: 40px
    }

    .optionCard p {
        font-size: 20px;
    }

   .expandedWrap >  .flexColumn p, .contactInfo p  {
        font-size: 22px;
    }
}

@media only screen and (max-device-width: 724px) {
    .expandedWrap {
        width: 90%;
    }
    .expandedWrapQoute .navToggle {
        left: 5px !important;
    }

    .expandedWrapQoute {
        min-width: 100% !important;
    }

    .optionCard {
        padding: .75em;
    }

    .optionCard p {
        font-size: 14px !important;
    }

    .seperatorCircle {
        margin: 20px 0;
    }

    .contactInfo {
        margin: 1em 0;
    }
}
   

