.defaultWrap {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.row {
    display: flex;
    justify-content: space-between;
}

.submit {
    /* display: flex; */
    justify-content: center;
}

.checkboxes {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formFocused {
    min-width: 90%;
}
/* 
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} */

.defaultWrap .container {
    justify-content: none !important;
    background-color: blue !important
}


@media only screen and (max-device-width: 724px) {
    .defaultWrap {
        position: fixed;
        top: 10%;
        left: 0 !important;
        right: 0 !important;
    }
}
   