@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/* 
input {
    font-size: 16px !important;
} */


html {
    scroll-behavior: smooth;
}

#raleway {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
}

#montserrat{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

:root {
    --page-title: 48px;
    --banner-title: 36px;
    --title: 42px;
    --header: 18px;
    --sub-header: 14px;
    --snippet: 12px;
    --light-purple:  #A79BAF;
    --dark-white: #F8F7F3;
    --orange:  #D56C52;
    --red:  #B65B62;
    --black: #27232B;
    --grey: #BBBBBB;
    --purple: #736180;
    --subHeader-color:  #838282;
    --blue: #445A93;
    --shadow: rgba(0, 0, 0, 0.25);
    --success: #1E9E3A;
    --error: #BD3B45;
}

#algolia-wrap  label p {
    margin: .7em 0 !important;
}

/* main */

/* banner */

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
}

.banner .bannerLeft {
    height: inherit;
    min-width: 40%;
    background-color: var(--dark-white);
}

.banner .bannerRight {
    min-width: 60%;
    height: inherit;
    background-color: var(--orange);
}

.banner .bannerLeftContent {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banner .contentTitle {
    width: 50%;
    line-height: 3em;
}

.banner .contentCTA div {
    margin: 1em 0;
}

/* banner */

/* whats-the-big-deal */
.wtbd-wrap {
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wtbd-wrap > div {
    margin: 2em 0;
}

.pageTitle {
    padding: 0em 5em;
    display: flex;
    flex-direction: column;
}

.pageTitle .header {
    text-align: center;
    margin: 2em 0;
}

.pageTitle .subHeader {
    line-height: 2em;
}

.wtbdCTA {
    padding: 1em;
    text-align: center;
}

.wtbdCTA .wtbdCTAText {
    width: 70%;
    margin: 0 auto;
}

.wtbdCTA .wtbdCTAButton {
    width: 50%;
    margin: 3em auto;
}

/* whats-the-big-deal */

/* how-does-this-work */
.hdtwWrap {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hdtwWrap .hdtwTitle {
    text-align: center;
}

.hdtwWrap .hdtwSteps {
    margin: 4em 0;
}

.hdtwWrap .faqSample {
    height: auto;
    width: 100%;
    background-color: var(--dark-white);
    padding: 3em 0 0em;
}

/* .hdtwWrap .fawSampleFaq {
    margin: 3em 0;
} */

.hdtwWrap .faqModal {
    width: 40%;
    margin: 3em auto;
    /* text-align: center; */
}

/* how-does-this-work */

/* what-will-my-report-include */
.wwmriWrap .banner {
    height: auto !important;
}

.wwmriWrap .banner .bannerLeft {
    background-color: #FFFFFF !important;
}

.wwmriWrap .wwmriBannerLeftContent {
    padding: 1em 6em 1em 3em;
}

.wwmriWrap .wwmriHeader {
    margin: 2em 0;
}

.wwmriWrap .wwmriSubHeader {
    line-height: 2em;
}

.wwmriList {
    margin: 2em 0;
}

.wwmriList ul {
    line-height: 1.5 !important;
    list-style: none !important;
}

.wwmriList li {
    display: flex;
}

.wwmriList .listTitleUl ul, li  {
    margin: .8em 0 !important;
}

.wwmriList ul li::before {
    content: "\2022";
    color: var(--orange);
    font-weight: 900;
    padding-right: 1em;
}

.wwmriList .listTitleul {
    margin: 2em 0;
}

.bannerRight .wwmriBannerRightContentWrap {
    height: 90%;
    margin: 2em 4em;
    display: flex;
    flex-direction: column; 
}

.wwmriExampleReport {
    flex-grow: 1;
    background: #F8F7F3;
    border-radius: 5px;
    margin: 1em 0;
}

.wwmriRightCTA {
    display: flex;
    justify-content: space-between;
}
/* what-will-my-report-include */

/* countries */
.countriesWrap {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2em 4em;
}

.countriesTitle {
    display: flex;
    width: 85%;
    margin: 0 auto 4em auto;
    text-align: left;
    justify-content: space-between;
}

.countriesHeader {
    max-width: 35em;
}

.countriesSubHeader {
    width: 20em;
    line-height: 1.5em;
}

/* countries */

/*  reviews*/
.reviewWrap {
    height: auto;
    width: 100%;
    display: flex;
}

.reviewLeft {
    min-width: 50%;
    background-color: var(--orange);
    transition: all .25s;
    padding: 3em 0px;
}

.contactFormTitle {
    text-align: center;
}

.reviewRight {
    min-width: 50%;
    background-color: #FFFFFF;
    padding: 5em 0;
}

.reviewLeft .contactFormWrap {
    max-width: 100%;
    height: 100%;
    margin: 1em 2em;
}

.reviewLeft .contactFormFooter {
    text-align: center;
}

.reviewLeft .contactFormFooter div {
    margin: 1em;
}

.reviews {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
/*  reviews*/


@media only screen and (min-width: 1400px) {
    .countriesTitle{
        width: 80% !important;
        margin: 6em auto 8em auto;
    }

    .countriesSubHeader {
        line-height: 2.5em;
        width: 28em;
    }

     .wtbd-wrap > div {
        margin: 4em 0;
    }     
}
   
@media only screen and (max-device-width: 1030px) {
    .reviewWrap {
        overflow: hidden;
    }

    .reviewRight {
        width: 50%;
        min-width: unset;
        background-color: #FFFFFF;
        padding: 5em 2em;
    }

    .wwmriCtaWrap {
        padding-top: .2em;
    }

    .wwmriCtaWrap p {
        font-size: 12px !important;
    }
}
   

@media only screen and (max-device-width: 724px) {
    .banner .bannerRight {
        display: none;
    }

    .banner .bannerLeft {
        width: 100%;
    }

    .wtbd-wrap {
        width: 100%;
    }

    .wtbd-wrap .pageTitle {
        padding: 0em 2em;
    }

    .hdtwWrap .faqModal {
        width: 95% !important;
    }

    .faqSample .faqSampleFaq > div {
        justify-content: unset !important;
    }

    .countriesTitle {
        margin: unset;
        display: unset;
        width: 100%;

    }

    .countriesHeader {
        margin: 0 0 1em 0;
    }

    .countriesSubHeader {
        width: unset;
    }

    .reviewWrap {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .reviewWrap .reviewRight {
        width: 100%;
        padding: unset;
    }

    .reviewWrap .reviews {
        margin: 1em 3em 0 3em;
    }

    .contactFormTitle {
        margin-bottom: 2em;
    }

}